extend layout

block content
  div#videoHolder
  form(method='post', id='composer-form')
    .message-content
      textarea(name='message', id='composer-message', class='input', maxlength='250', autocomplete='off', placeholder=t('messagePrompt'))
      #composer-blocker.hidden
        span= t('pleaseWait')
  #counter 250

block terms
  #terms
    p= t('termsAndConditions')
    p
      a(href='/terms')= t('termsLink')
    p
      a(href='javascript:;', class='agree', id='tnc-accept')= t('iAccept')
      a(href='http://www.nyan.cat', class='agree')= t('iDoNotAccept')

block browserWarning
  #browser-warning
    p= t('browserWarningString')
    p.subtext= t('browserWarningSubtext')
    p
      a(href='http://www.mozilla.org/en-US/firefox/new/', class='browser firefox')= ''
      a(href='https://www.google.com/intl/en/chrome/browser/', class='browser chrome')= ''
    p
      a(href='javascript:;', id='browser-warning-accept')= t('okay')
