extend default_layout

block content
  .infobox
    .item
      h1= t('welcome')

      ul
        li
          a(href='http://digitalocean.com', class='do medium')= t('poweredByDO') 

    .item
      h2= t('forContributors')
      ul
        li
          p= t('contributorCopy')
          p
            a(href='http://github.com/meatspaces/meatspace-chat')= t('githubRepo')

    .item
      h2= t('forHackers')
      ul
        li
          p= t('hackerCopy')
          p
            a(href='http://github.com/meatspaces/meatspace-chat-hackers')= t('addItHere')

    .item
      h2= t('forAPIDevs')
      ul
        li
          p= t('devsCopy')
          p
            a(href='https://github.com/meatspaces/meatspace-chat#native-apps-iosandroid-or-non-web-clients')= t('moreInfoHere')
    .item
      h2= t('forConsumers')
      ul
        li
          a(href='http://www.zazzle.com/meatspaceshop', class='big')= t('meatspaceShop')

    .item
      h2= t('forCredits')
      ul
        li
          a(href='https://twitter.com/ednapiranha', class='big') Creatorbro
        li
          a(href='https://github.com/meatspaces/meatspace-chat/graphs/contributors', class='medium') Contributorbros
