doctype html
html
  head
    title= t('pageTitle')
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='chrome=1', http-equiv='X-UA-Compatible')
    if appId
      meta(name='apple-itunes-app', content='app-id= #{ appId }')
    link(rel='shortcut icon', href='/images/favicon.png')
    if debug
      link(rel='stylesheet', href='/stylesheets/main.css')
    else
      link(rel='stylesheet', href='/stylesheets/main-min.css')
    if analytics
      != '<script>(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create", "' + analytics + '", "' + analyticsHost + '");ga("send", "pageview");</script>'

  body(data-authenticated='#{!!session.email}', data-mute=t('mute'))
    #wrapper
      .header
        a#logo(href='/info', target='_blank', title=t('info!'))= t('info!')
        #menu-button ≡
          ul(id='menu-list')
            li
              a#unmute(href='javascript:;')= t('unmute')
            li
              a(href='https://chat.meatspac.es') international
            li
              a(href='https://fr.meatspac.es') en français
            li
              a(href='https://es.meatspac.es') en español

      #chat-container
        ul(id='chat-list')
        .end
    #footer
      block content
    block terms

    script(src='/socket.io/socket.io.js')
    if debug
      script(src='/javascripts/lib/requirejs/require.js', data-main='/javascripts/config')
    else
      script(src='/javascripts/build/meatspace-chat.js')
